<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.game.gameinfo.mapper.GameInfoMapper">
	<sql id="search"> 
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				(GNAME like '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 't'.toString()">
				(tagname like '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 'd'.toString()">
				(GLAUNCH like '%'||#{keyword}||'%') AND
			</if>
		</if>
	</sql>
	
	
	<!-- 게임 리스트 -->
	<select id="gameList" resultType="org.game.gameinfo.domain.GameInfoVO">
	<![CDATA[
		SELECT * FROM game WHERE gname LIKE '%'||#{keyword}||'%' ORDER BY gname DESC
	]]>
	</select>
	
	<!-- 게임 추가 -->
	<insert id="insertGame">
		<selectKey keyProperty="gnum" order="BEFORE" resultType="long">
			SELECT game_num.nextval FROM DUAL
		</selectKey>
		INSERT INTO game (gnum, gname, glaunch, gfublisher, gdeveloper, gprice, gcontent, ggrade, gsite, gaddress)
		VALUES (#{gnum}, #{gname}, TO_DATE(#{glaunch}, 'YYYY/MM/DD '), #{gfublisher}, #{gdeveloper}, #{gprice}, #{gcontent}, #{ggrade}, #{gsite}, #{gaddress})
	</insert>
	
	<!-- 게임 상세 조회 -->
	<select id="selectGame" resultType="org.game.gameinfo.domain.GameInfoVO">
		SELECT * FROM game WHERE gnum = #{gnum}
	</select>
	
	<!-- 게임 삭제 -->
	<delete id="deleteGame">
		DELETE FROM game WHERE gnum = #{gnum}
	</delete>
	
	<!-- 게임 수정 -->
	<update id="updateGame">
		UPDATE game SET gname = #{gname}, glaunch = TO_DATE(#{glaunch}, 'YYYY/MM/DD '), gdeveloper = #{gdeveloper}, gfublisher = #{gfublisher}, 
		gprice = #{gprice}, gcontent = #{gcontent}, ggrade = #{ggrade}, gsite = #{gsite}, gaddress = #{gaddress}
		WHERE gnum = #{gnum}
	</update>
	
	<select id="getGameListPaging" resultType="org.game.gameinfo.domain.GameInfoVO">
		<![CDATA[
		SELECT * FROM
		(SELECT
		/*+ INDEX_DESC(game pk_board) */
		rownum rn, game.* FROM game
			WHERE
		]]>
		
		<include refid="search"></include>

		<![CDATA[	
			rownum <= #{pageNum} * #{amount}) tbl
			WHERE rn > (#{pageNum}-1) * #{amount} 
		]]>
	</select>
	
	<select id="getTotalGame" resultType="int">
	<if test="searchType == 't'.toString()">
		SELECT COUNT(*) FROM gametag WHERE
	</if>
	<if test="searchType != 't'.toString()">
		SELECT COUNT(*) FROM game WHERE
	</if>
		<!--  select COUNT(*) from gametag JOIN game on game.gnum = gametag.gnum WHERE-->	
		<include refid="search"></include>
		gnum > 0
	</select>

</mapper>