<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.game.gameinfo.mapper.RequirementMapper">
	
	<!-- 게임사양 조회 -->
	<select id="selectRequirement" resultType="org.game.gameinfo.domain.RequirementVO">
		SELECT * FROM gamerequirement WHERE grnum = #{grnum}
	</select> 
	
	<!-- 사양 추가 -->
	<insert id="insertRequirement">
		<selectKey keyProperty="grnum" order="BEFORE" resultType="long">
			SELECT gamerequirement_num.nextval FROM DUAL
		</selectKey>
		INSERT INTO gamerequirement (grnum, gnum, gos, gprocessor, gmemory, ggraphic, gdirectx, gstore)
		VALUES (gamerequirement_num.nextval, #{gnum}, #{gos}, #{gprocessor}, #{gmemory}, #{ggraphic}, #{gdirectx}, #{gstore})
	</insert>
	
	<!-- 사양 삭제 -->
	<delete id="deleteRequirement">
		DELETE FROM gamerequirement WHERE grnum = #{grnum}
	</delete>
	
	<!-- 사양 수정 -->
	<update id="updateRequirement">
		UPDATE gamerequirement 
		SET gos = #{gos}, gprocessor = #{gprocessor}, gmemory = #{gmemory}, 
		ggraphic = #{ggraphic}, gdirectx = #{gdirectx}, gstore = #{gstore}
		WHERE grnum = #{grnum}
	</update>
	
</mapper>