<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.game.user.mapper.AnswerMapper">
	<insert id="insertAnswer">
		INSERT INTO answer (anum, qnum, acontent) VALUES (answer_num.nextval, #{qnum}, #{acontent})
	</insert>
	
	<select id="getAnswer" resultType="org.game.user.domain.AnswerVO">
		SELECT * FROM answer WHERE qnum = #{qnum} ORDER BY anum
	</select>
	
	<select id="getQnum" resultType="int">
		SELECT qnum FROM answer WHERE anum = #{anum}
	</select>
	
	<update id="updateAnswer">
		UPDATE answer SET acontent = #{acontent} WHERE anum = #{anum}
	</update>
	
	<delete id="deleteAnswer">
		DELETE FROM answer WHERE anum = #{anum}
	</delete>
	
	<delete id="deleteQnA">
		DELETE FROM answer WHERE qnum = #{qnum}
	</delete>
</mapper>