<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.game.user.mapper.ConsumerBasketMapper">

	<!-- 장바구니 게임 조회 -->
	<select id="consumerBasketSelect" resultType="org.game.user.domain.ConsumerBasketVO">
		SELECT * FROM shoppingBasket s LEFT JOIN game g ON s.gnum=g.gnum WHERE cid=#{cid}
	</select>

	<!-- 장바구니 게임 추가 -->
	<insert id="consumerBasketInsert">
		INSERT INTO shoppingBasket(sbnum, cid, gnum) VALUES (shoppingbasket_num.nextval, #{cid}, #{gnum})
	</insert>

	<!-- 장바구니 게임 삭제 -->
	<delete id="consumerBasketDelete">
		DELETE FROM shoppingBasket WHERE cid=#{cid} AND gnum=#{gnum}
	</delete>

</mapper>