<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.game.user.mapper.QuestionMapper">
	<sql id="search">
		<if test="cri.keyword != null">
			AND (qwriter LIKE #{cri.keyword}) 
		</if>
	</sql>

	<sql id="type">
	<if test="qtype == 'account'.toString()">'계정 및 내정보'</if>
	<if test="qtype == 'softngame'.toString()">'소프트웨어 및 게임'</if>
	<if test="qtype == 'library'.toString()">'라이브러리'</if>
	<if test="qtype == 'purchase'.toString()">'구매'</if>
	<if test="qtype == 'friends'.toString()">'친구'</if>
	<if test="qtype == 'chatting'.toString()">'채팅'</if>
	<if test="qtype == 'app'.toString()">'어플리케이션'</if>
	<if test="qtype == 'etc'.toString()">'기타'</if>
	</sql> 
	<select id="getAdmin" resultType="int">
		SELECT cadmin FROM consumer WHERE cid = #{cid}
	</select>
	
	<insert id="insertQuestion">
		<selectKey keyProperty="qnum" resultType="int" order="BEFORE">
			SELECT question_num.nextval FROM DUAL
		</selectKey>
		INSERT INTO question (qnum, qtype, qtitle, qcontent, qwriter) VALUES (#{qnum}, <include refid="type"></include>, #{qtitle}, #{qcontent}, #{qwriter})
	</insert>
	
	<!-- list -->
	<select id="getQuestionList" resultType="org.game.user.domain.QuestionVO">
		SELECT * FROM question WHERE qwriter LIKE #{qwriter} ORDER BY qnum DESC
	</select>
	<select id="getQuestionListP" resultType="org.game.user.domain.QuestionVO">
		<![CDATA[
			SELECT qnum, qtype, qtitle, qcontent, qwriter, qdate FROM 
			(SELECT 
			/*+ INDEX_DESC(question pk_question) */ 
			rownum rn, question.* FROM question WHERE (qwriter LIKE  #{qwriter}) AND rownum <= #{cri.pageNum} * #{cri.amount}) qu 
			WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	<select id="getCountQuestion" resultType="Int">
		SELECT count(*) FROM question WHERE (qwriter LIKE #{qwriter})
		<include refid="search"></include>
	</select>
	
	<!-- list -->
	<select id="getQtypeQuestion" resultType="org.game.user.domain.QuestionVO">
		SELECT * FROM question WHERE qtype = #{qtype} ORDER BY qnum DESC
	</select>
	<select id="getQtypeQuestionP" resultType="org.game.user.domain.QuestionVO">
		<![CDATA[
		SELECT qnum, qtype, qtitle, qcontent, qwriter, qdate FROM
		(SELECT
		/*+ INDEX_DESC (question pk_question) */
		rownum rn, question.* FROM question WHERE qtype LIKE #{qtype}
		AND rownum <= #{cri.pageNum} * #{cri.amount}) qu
		WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>		
	</select>
	<select id="getCountQtype" resultType="Int">
		SELECT count(*) FROM question WHERE qtype = #{qtype}
	</select>
	
	<select id="getOwnQuestion" resultType="org.game.user.domain.QuestionVO">
		SELECT * FROM question WHERE qnum = #{qnum}
	</select>
	
	<update id="updateQuestion">
		UPDATE question SET qtype = <include refid="type"></include>, qtitle = #{qtitle}, qcontent = #{qcontent}, qdate = SYSDATE WHERE qnum = #{qnum}
	</update>
	
	<delete id="deleteQuestion">
		DELETE FROM question WHERE qnum = #{qnum}
	</delete> 

</mapper>