<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.game.gamelibrary.mapper.GameLibraryMapper">

	<!-- 라이브러리 조회 -->
	<select id="librarySelect" resultType="org.game.gamelibrary.domain.GameLibraryVO">
		SELECT * FROM consumerLibrary c LEFT JOIN game g ON c.gnum = g.gnum WHERE cid=${cid}
	</select>
	
	<!-- 라이브러리에 게임 추가 -->
	<insert id="libraryInsert">
		INSERT INTO consumerLibrary(ubnum, cid, gnum) VALUES (consumerlibrary_num.nextval, #{cid}, #{gnum})
	</insert>
	
</mapper>